import (
	"io"
)


// WriteTo ...
func (p *PublicRaw) WriteTo(w io.Writer) (n int64, err error) {
	panic("not implemented")
}

// ReadFrom ...
func (p *PublicRaw) ReadFrom(r io.Reader) (int64, error) {
    panic("not implemented")
}