{{- define "import_fr" }}
	"github.com/consensys/gnark-crypto/ecc/{{toLower .Curve}}/fr"	
{{- end }}

{{- define "import_curve" }}
	curve "github.com/consensys/gnark-crypto/ecc/{{toLower .Curve}}"	
{{- end }}

{{- define "import_backend_cs" }}
	"github.com/consensys/gnark/internal/backend/{{toLower .Curve}}/cs"
{{- end }}

{{- define "import_fft" }}
	"github.com/consensys/gnark-crypto/ecc/{{toLower .Curve}}/fr/fft"
{{- end }}

{{- define "import_witness" }}
	{{toLower .CurveID}}witness "github.com/consensys/gnark/internal/backend/{{toLower .Curve}}/witness"
{{- end }}

{{- define "import_groth16" }}
	{{toLower .CurveID}}groth16 "github.com/consensys/gnark/internal/backend/{{toLower .Curve}}/groth16"
{{- end }}

{{- define "import_plonk" }}
	{{toLower .CurveID}}plonk "github.com/consensys/gnark/internal/backend/{{toLower .Curve}}/plonk"
{{- end }}

{{- define "import_polynomial" }}
	"github.com/consensys/gnark-crypto/ecc/{{ toLower .Curve }}/fr/polynomial"
{{- end }}

{{- define "import_kzg" }}
	"github.com/consensys/gnark-crypto/ecc/{{ toLower .Curve }}/fr/kzg"
{{- end }}