import (
	"crypto/sha256"
    {{- template "import_fr" . }}
    {{- template "import_curve" . }}
    "github.com/consensys/gnark/constraint"
    "math/big"
)

func solveCommitmentWire(commitmentInfo *constraint.Commitment, commitment *curve.G1Affine, publicCommitted []*big.Int) (fr.Element, error) {
	bytes := sha256.Sum256(commitmentInfo.SerializeCommitment(commitment.Marshal(), publicCommitted, (fr.Bits-1)/8+1))
	bi := new(big.Int).SetBytes(bytes[:])
	return *new(fr.Element).SetBigInt(bi), nil
}