import (
	"math/big"

	curve "{{ .CurveImport }}"
)

type G1OpsCaseJSON struct {
	Name                string            `json:"name"`
	PAffine             AffinePointJSON   `json:"p_affine"`
	QAffine             AffinePointJSON   `json:"q_affine"`
	PJacobian           JacobianPointJSON `json:"p_jacobian"`
	PAffineOutput       JacobianPointJSON `json:"p_affine_output"`
	NegPJacobian        JacobianPointJSON `json:"neg_p_jacobian"`
	DoublePJacobian     JacobianPointJSON `json:"double_p_jacobian"`
	AddMixedPPlusQJacob JacobianPointJSON `json:"add_mixed_p_plus_q_jacobian"`
	AffineAddPPlusQ     JacobianPointJSON `json:"affine_add_p_plus_q"`
}

type G1OpsVectorsJSON struct {
	PointCases []G1OpsCaseJSON `json:"point_cases"`
}

func BuildG1OpsVectors() G1OpsVectorsJSON {
	_, _, genAff, _ := curve.Generators()
	infAff := new(curve.G1Affine).SetInfinity()
	negGen := new(curve.G1Affine).Neg(&genAff)
	five := scalarMulG1Ops(5)
	seventeen := scalarMulG1Ops(17)
	oneTwentyThree := scalarMulG1Ops(123)
	cases := []struct {
		name string
		p    *curve.G1Affine
		q    *curve.G1Affine
	}{
		{name: "inf_plus_gen", p: infAff, q: &genAff},
		{name: "gen_plus_inf", p: &genAff, q: infAff},
		{name: "gen_plus_neg_gen", p: &genAff, q: negGen},
		{name: "gen_plus_gen", p: &genAff, q: &genAff},
		{name: "five_plus_seventeen", p: five, q: seventeen},
		{name: "one_twenty_three_self", p: oneTwentyThree, q: oneTwentyThree},
	}
	out := G1OpsVectorsJSON{PointCases: make([]G1OpsCaseJSON, len(cases))}
	for i, tc := range cases {
		var pJac curve.G1Jac
		pJac.FromAffine(tc.p)
		var negP curve.G1Jac
		negP.Neg(&pJac)
		var doubleP curve.G1Jac
		doubleP.Double(&pJac)
		var addMixed curve.G1Jac
		addMixed.Set(&pJac).AddMixed(tc.q)
		var pAffineOut curve.G1Affine
		pAffineOut.FromJacobian(&pJac)
		var affineAdd curve.G1Affine
		affineAdd.Add(tc.p, tc.q)
		out.PointCases[i] = G1OpsCaseJSON{Name: tc.name, PAffine: affineToJSON(tc.p), QAffine: affineToJSON(tc.q), PJacobian: jacToJSON(&pJac), PAffineOutput: affineOutputToJSON(&pAffineOut), NegPJacobian: jacToJSON(&negP), DoublePJacobian: jacToJSON(&doubleP), AddMixedPPlusQJacob: jacToJSON(&addMixed), AffineAddPPlusQ: affineOutputToJSON(&affineAdd)}
	}
	return out
}

func scalarMulG1Ops(v uint64) *curve.G1Affine {
	_, _, genAff, _ := curve.Generators()
	var out curve.G1Affine
	out.ScalarMultiplication(&genAff, new(big.Int).SetUint64(v))
	return &out
}
