import (
	"encoding/binary"
	"encoding/hex"
	"math/big"

	fp "{{ .FpImport }}"
	fr "{{ .FrImport }}"
)

func frToMont(regular *big.Int) fr.Element {
	var z fr.Element
	z.SetBigInt(regular)
	return z
}

func fpToMont(regular *big.Int) fp.Element {
	var z fp.Element
	z.SetBigInt(regular)
	return z
}

func frZeroMont() fr.Element {
	var z fr.Element
	z.SetZero()
	return z
}

func fpZeroMont() fp.Element {
	var z fp.Element
	z.SetZero()
	return z
}

func montOne() fp.Element {
	var one fp.Element
	one.SetOne()
	return one
}

func frElementHex(z fr.Element) string {
	data := make([]byte, {{ .ScalarBytes }})
	for i := 0; i < len(z); i++ {
		binary.LittleEndian.PutUint64(data[i*8:], z[i])
	}
	return hex.EncodeToString(data)
}

func fpElementHex(z fp.Element) string {
	return hex.EncodeToString(wordsToBytes(z[:], {{ .FpBytes }}))
}

func scalarToHex(v fr.Element) string {
	bytesBE := v.Bytes()
	return hex.EncodeToString(regularToLittleEndian(bytesBE[:]))
}

func scalarToBig(v fr.Element) *big.Int {
	var out big.Int
	return v.BigInt(&out)
}

func newScalarUint64(v uint64) fr.Element {
	var out fr.Element
	out.SetUint64(v)
	return out
}

func newScalarBig(v *big.Int) fr.Element {
	var out fr.Element
	out.SetBigInt(v)
	return out
}

func regularHex(v *big.Int, size int) string {
	return hex.EncodeToString(regularToLittleEndian(v.FillBytes(make([]byte, size))))
}

func regularUint64(v uint64) *big.Int {
	return new(big.Int).SetUint64(v)
}

func addBig(a, b *big.Int) *big.Int { return new(big.Int).Add(a, b) }
func subBig(a, b *big.Int) *big.Int { return new(big.Int).Sub(a, b) }
func mulBig(a, b *big.Int) *big.Int { return new(big.Int).Mul(a, b) }

func pow2MinusOne(bitsN uint) *big.Int {
	return subBig(new(big.Int).Lsh(big.NewInt(1), bitsN), big.NewInt(1))
}

func frModulus() *big.Int {
	return new(big.Int).Set(fr.Modulus())
}

func fpModulus() *big.Int {
	return new(big.Int).Set(fp.Modulus())
}

func frQMinusOne() *big.Int { return new(big.Int).Sub(fr.Modulus(), big.NewInt(1)) }
func fpQMinusOne() *big.Int { return new(big.Int).Sub(fp.Modulus(), big.NewInt(1)) }

func frQMinus(delta uint64) *big.Int {
	return new(big.Int).Sub(fr.Modulus(), new(big.Int).SetUint64(delta))
}

func fpQMinus(delta uint64) *big.Int {
	return new(big.Int).Sub(fp.Modulus(), new(big.Int).SetUint64(delta))
}

func frFloorHalfModulus() *big.Int { return new(big.Int).Rsh(frQMinusOne(), 1) }
func frCeilHalfModulus() *big.Int  { return new(big.Int).Sub(fr.Modulus(), frFloorHalfModulus()) }
func fpFloorHalfModulus() *big.Int { return new(big.Int).Rsh(fpQMinusOne(), 1) }
func fpCeilHalfModulus() *big.Int  { return new(big.Int).Sub(fp.Modulus(), fpFloorHalfModulus()) }

func randomFRFieldBigInt(rng interface{ Uint32() uint32 }) *big.Int {
	buf := make([]byte, 48)
	for i := range buf {
		buf[i] = byte(rng.Uint32())
	}
	return new(big.Int).Mod(new(big.Int).SetBytes(buf), fr.Modulus())
}

func randomFPFieldBigInt(rng interface{ Uint32() uint32 }) *big.Int {
	buf := make([]byte, 64)
	for i := range buf {
		buf[i] = byte(rng.Uint32())
	}
	return new(big.Int).Mod(new(big.Int).SetBytes(buf), fp.Modulus())
}

func wordsToBytes(words []uint64, size int) []byte {
	out := make([]byte, size)
	for i, word := range words {
		base := i * 8
		out[base+0] = byte(word)
		out[base+1] = byte(word >> 8)
		out[base+2] = byte(word >> 16)
		out[base+3] = byte(word >> 24)
		out[base+4] = byte(word >> 32)
		out[base+5] = byte(word >> 40)
		out[base+6] = byte(word >> 48)
		out[base+7] = byte(word >> 56)
	}
	return out
}

func writeElementLE(dst []byte, v fp.Element) {
	copy(dst, wordsToBytes(v[:], {{ .FpBytes }}))
}

func regularToLittleEndian(in []byte) []byte {
	out := make([]byte, len(in))
	for i := range in {
		out[len(in)-1-i] = in[i]
	}
	return out
}

func zeroHex() string {
	return hex.EncodeToString(make([]byte, {{ .FpBytes }}))
}
