import (
	"fmt"
	"github.com/consensys/gnark-crypto/ecc"
	"github.com/consensys/gnark/internal/gkr/gkrtypes"

	"github.com/consensys/gnark/std/gkrapi/gkr"
	"{{.FieldPackagePath}}"
	{{- if .CanUseFFT }}
	"{{.FieldPackagePath}}/fft"
	"sync"{{- else}}
	"errors"{{- end }}
	"{{.FieldPackagePath}}/polynomial"
	"slices"
)

// IsGateFunctionAdditive returns whether x_i occurs only in a monomial of total degree 1 in f
func IsGateFunctionAdditive(f gkr.GateFunction, i, nbIn int) bool {
	fWrapped := api.convertFunc(f)

	// fix all variables except the i-th one at random points
	// pick random value x1 for the i-th variable
	// check if f(-, 0, -) + f(-, 2*x1, -) = 2*f(-, x1, -)
	x := make({{.FieldPackageName}}.Vector, nbIn)
	x.MustSetRandom()
	x0 := x[i]
	x[i].SetZero()
	in := slices.Clone(x)
	y0 := fWrapped(in...)

	x[i] = x0
	copy(in, x)
	y1 := fWrapped(in...)

	x[i].Double(&x[i])
	copy(in, x)
	y2 := fWrapped(in...)

	y2.Sub(y2, y1)
	y1.Sub(y1, y0)

	if !y2.Equal(y1) {
		return false // not linear
	}

	// check if the coefficient of x_i is nonzero and independent of the other variables (so that we know it is ALWAYS nonzero)
	if y1.IsZero() { // f(-, x1, -) = f(-, 0, -), so the coefficient of x_i is 0
		return false
	}

	// compute the slope with another assignment for the other variables
	x.MustSetRandom()
	x[i].SetZero()
	copy(in, x)
	y0 = fWrapped(in...)

	x[i] = x0
	copy(in, x)
	y1 = fWrapped(in...)

	y1.Sub(y1, y0)

	return y1.Equal(y2)
}

// fitPoly tries to fit a polynomial of degree less than degreeBound to f.
// degreeBound must be a power of 2.
// It returns the polynomial if successful, nil otherwise
func (f gateFunctionFr) fitPoly(nbIn int, degreeBound uint64) polynomial.Polynomial {
	// turn f univariate by defining p(x) as f(x, rx, ..., sx)
	// where r, s, ... are random constants
	fIn := make([]{{ .ElementType }}, nbIn)
	consts := make({{.FieldPackageName}}.Vector, nbIn-1)
	consts.MustSetRandom()

	p := make(polynomial.Polynomial, degreeBound)
	{{- if .CanUseFFT }}
	domain := fft.NewDomain(degreeBound)
	// evaluate p on the unit circle (first filling p with evaluations rather than coefficients)
	x := {{.FieldPackageName}}.One()
	for i := range p {
		fIn[0] = x
		for j := range consts {
			fIn[j+1].Mul(&x, &consts[j])
		}
		p[i].Set(f(fIn...))

		x.Mul(&x, &domain.Generator)
	}

	// obtain p's coefficients
	domain.FFTInverse(p, fft.DIF)
	fft.BitReverse(p) //nolint:staticcheck // method is backwards compatible
	{{- else }}
	x := make({{.FieldPackageName}}.Vector, degreeBound)
	x.MustSetRandom()
	for i := range x {
		fIn[0] = x[i]
		for j := range consts {
			fIn[j+1].Mul(&x[i], &consts[j])
		}
		p[i].Set(f(fIn...))
	}

	// obtain p's coefficients
	p, err := interpolate(x, p)
	if err != nil {
		panic(err)
	}
	{{- end }}

	// check if p is equal to f. This not being the case means that f is of a degree higher than degreeBound
	fIn[0].MustSetRandom()
	for i := range consts {
		fIn[i+1].Mul(&fIn[0], &consts[i])
	}
	pAt := p.Eval(&fIn[0])
	fAt := f(fIn...)
	if !pAt.Equal(fAt) {
		return nil
	}

	// trim p
	lastNonZero := len(p) - 1
	for lastNonZero >= 0 && p[lastNonZero].IsZero() {
		lastNonZero--
	}
	return p[:lastNonZero+1]
}

// FindGateFunctionDegree returns the degree of the gate function, or -1 if it fails.
// Failure could be due to the degree being higher than max or the function not being a polynomial at all.
func FindGateFunctionDegree(f gkr.GateFunction, max, nbIn int) (int, error) {
	fFr := api.convertFunc(f)
	bound := uint64(max) + 1
	for degreeBound := uint64(4); degreeBound <= bound; degreeBound *= 8 {
		if p := fFr.fitPoly(nbIn, degreeBound); p != nil {
			if len(p) == 0 {
				return -1, gkrtypes.ErrZeroFunction
			}
			return len(p) - 1, nil
		}
	}
	return -1, fmt.Errorf("could not find a degree: tried up to %d", max)
}

func VerifyGateFunctionDegree(f gkr.GateFunction, claimedDegree, nbIn int) error {
	fFr := api.convertFunc(f)
	if p := fFr.fitPoly(nbIn, ecc.NextPowerOfTwo(uint64(claimedDegree)+1)); p == nil {
		return fmt.Errorf("detected a higher degree than %d", claimedDegree)
	} else if len(p) == 0 {
		return gkrtypes.ErrZeroFunction
	} else if len(p)-1 != claimedDegree {
		return fmt.Errorf("detected degree %d, claimed %d", len(p)-1, claimedDegree)
	}
	return nil
}

// EqualGateFunction checks if two gate functions are equal, by testing the same at a random point.
func EqualGateFunction(f gkr.GateFunction, g gkr.GateFunction, nbIn int) bool {
	x := make({{.FieldPackageName}}.Vector, nbIn)
	x.MustSetRandom()
	fFr := api.convertFunc(f)
	gFr := api.convertFunc(g)
	fAt := fFr(x...)
	gAt := gFr(x...)
	return fAt.Equal(gAt)
}

{{- if not .CanUseFFT }}
// interpolate fits a polynomial of degree len(X) - 1 = len(Y) - 1 to the points (X[i], Y[i])
// Note that the runtime is O(len(X)³)
func interpolate(X, Y []{{.ElementType}}) (polynomial.Polynomial, error) {
	if len(X) != len(Y) {
		return nil, errors.New("same length expected for X and Y")
	}

	// solve the system of equations by Gaussian elimination
	augmentedRows := make([][]{{.ElementType}}, len(X)) // the last column is the Y values
	for i := range augmentedRows {
		augmentedRows[i] = make([]{{.ElementType}}, len(X)+1)
		augmentedRows[i][0].SetOne()
		augmentedRows[i][1].Set(&X[i])
		for j := 2; j < len(augmentedRows[i])-1; j++ {
			augmentedRows[i][j].Mul(&augmentedRows[i][j-1], &X[i])
		}
		augmentedRows[i][len(augmentedRows[i])-1].Set(&Y[i])
	}

	// make the upper triangle
	for i := range len(augmentedRows) - 1 {
		// use row i to eliminate the ith element in all rows below
		var negInv {{.ElementType}}
		if augmentedRows[i][i].IsZero() {
			return nil, errors.New("singular matrix")
		}
		negInv.Inverse(&augmentedRows[i][i])
		negInv.Neg(&negInv)
		for j := i + 1; j < len(augmentedRows); j++ {
			var c {{.ElementType}}
			c.Mul(&augmentedRows[j][i], &negInv)
			// augmentedRows[j][i].SetZero() omitted
			for k := i + 1; k < len(augmentedRows[i]); k++ {
				var t {{.ElementType}}
				t.Mul(&augmentedRows[i][k], &c)
				augmentedRows[j][k].Add(&augmentedRows[j][k], &t)
			}
		}
	}

	// back substitution
	res := make(polynomial.Polynomial, len(X))
	for i := len(augmentedRows) - 1; i >= 0; i-- {
		res[i] = augmentedRows[i][len(augmentedRows[i])-1]
		for j := i + 1; j < len(augmentedRows[i])-1; j++ {
			var t {{.ElementType}}
			t.Mul(&res[j], &augmentedRows[i][j])
			res[i].Sub(&res[i], &t)
		}
		res[i].Div(&res[i], &augmentedRows[i][i])
	}

	return res, nil
}
{{- end }}