import (
    {{ template "import_backend_pcs" . }}
	{{ template "import_fr" . }}
)

func (plonkcs *SparseR1CS) to{{ toUpper .Curve}}() *{{ toLower .Curve}}backend.CS {

	toReturn := {{ toLower .Curve}}backend.CS{
		NbInternalVariables: plonkcs.NbInternalVariables,
		NbPublicVariables:   plonkcs.NbPublicVariables,
		NbSecretVariables:   plonkcs.NbSecretVariables,
		Constraints:         plonkcs.Constraints,
		Assertions:          plonkcs.Assertions,
		Logs:                plonkcs.Logs,
		Coeffs:              make([]fr.Element, len(plonkcs.Coeffs)),
	}

	for i := 0; i < len(plonkcs.Coeffs); i++ {
		toReturn.Coeffs[i].SetBigInt(&plonkcs.Coeffs[i])
	}

	return &toReturn
}
